<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49725548961-cposfu5arpmik5bkms6h881bpkajl2ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49725548961-cposfu5arpmik5bkms6h881bpkajl2ur</string>
	<key>API_KEY</key>
	<string>AIzaSyBUcdtHvp4IJ0xA9uVyoQ3FJg2Z7Tw0PRs</string>
	<key>GCM_SENDER_ID</key>
	<string>49725548961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartreach.leavemanagement</string>
	<key>PROJECT_ID</key>
	<string>leavemanagement-ddb45</string>
	<key>STORAGE_BUCKET</key>
	<string>leavemanagement-ddb45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49725548961:ios:9e77911f8f23ffab3e43e0</string>
</dict>
</plist>